[
    {
        "scope": "https://demo.redash.io:443",
        "method": "get",
        "path": "/api/jobs/e9b927e0-f9eb-44b1-b03f-4644c6680993",
        "body": "",
        "status": 200,
        "response": {
            "job": {
                "status": 1,
                "error": "",
                "id": "e9b927e0-f9eb-44b1-b03f-4644c6680993",
                "query_result_id": null,
                "updated_at": 0
            }
        },
        "rawHeaders": [
            "Sun, 14 Oct 2018 06:50:20 GMT",
            "Content-Type",
            "application/json",
            "chunked",
            "close",
            "__cfduid=d98346cc1d18ac4d38380305715554d141539499819; expires=Mon, 14-Oct-19 06:50:19 GMT; path=/; domain=.redash.io; HttpOnly",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "46981c71ff2a940f-NRT"
        ]
    }
]