[
    {
        "scope": "https://demo.redash.io:443",
        "method": "get",
        "path": "/api/query_results/4578008",
        "body": "",
        "status": 404,
        "response": {
            "message": "The requested URL was not found on the server.  If you entered the URL manually please check your spelling and try again. You have requested this URI [/api/query_results/4578008] but did you mean /api/query_results/<query_result_id> or /api/query_results or /admin/queryresult/ ?"
        },
        "rawHeaders": [
            "Sun, 14 Oct 2018 06:52:07 GMT",
            "Content-Type",
            "application/json",
            "chunked",
            "close",
            "__cfduid=db8939c3e991f0e8c509307367aebb5711539499927; expires=Mon, 14-Oct-19 06:52:07 GMT; path=/; domain=.redash.io; HttpOnly",
            "X-Sentry-ID",
            "fbce76e31c444b06896c253e53154d83",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "46981f10bbc994e1-NRT"
        ]
    }
]