[
    {
        "scope": "https://demo.redash.io:443",
        "method": "post",
        "path": "/api/query_results",
        "body": {
            "query": "select * from cohort2",
            "data_source_id": 2,
            "max_age": 0
        },
        "status": 200,
        "response": {
            "job": {
                "status": 1,
                "error": "",
                "id": "ba2297dd-553e-4b6b-8250-84f4c62d7cb3",
                "query_result_id": null,
                "updated_at": 0
            }
        },
        "rawHeaders": [
            "Sun, 14 Oct 2018 13:48:54 GMT",
            "Content-Type",
            "application/json",
            "chunked",
            "close",
            "__cfduid=d6b3cfa6d8c8b41e811e22fded5c5f84f1539524934; expires=Mon, 14-Oct-19 13:48:54 GMT; path=/; domain=.redash.io; HttpOnly",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "469a819928af947b-NRT"
        ]
    },
    {
        "scope": "https://demo.redash.io:443",
        "method": "get",
        "path": "/api/jobs/ba2297dd-553e-4b6b-8250-84f4c62d7cb3",
        "body": "",
        "status": 200,
        "response": {
            "job": {
                "status": 1,
                "error": "",
                "id": "ba2297dd-553e-4b6b-8250-84f4c62d7cb3",
                "query_result_id": null,
                "updated_at": 0
            }
        },
        "rawHeaders": [
            "Sun, 14 Oct 2018 13:48:55 GMT",
            "Content-Type",
            "application/json",
            "chunked",
            "close",
            "__cfduid=d542ed71e4d46fcff9af14bea2f3980ad1539524935; expires=Mon, 14-Oct-19 13:48:55 GMT; path=/; domain=.redash.io; HttpOnly",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "469a819cb8639427-NRT"
        ]
    },
[...]
